<%= form_for(@person, :remote => true) do |f| %>
  <a id="close" href="#">Close</a>
  <div class="errors"></div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :home_town %><br />
    <%= f.text_field :home_town %>
  </div>
  <div class="field">
    <%= f.label :home_country %><br />
    <%= f.text_field :home_country %>
  </div>
  <div class="field">
    <%= f.label :department_id %><br />
    <%= f.collection_select(:department_id, Department.alphabetical, :id, :name, :prompt => true) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
